body {
    background: #cccccc;
}

#banner{
    width: 100%;
   
h1 {
    text-align: center;
    color: orange;

p{
    text-align: center;
}

#missão {
    font-size: 20px;
}

em strong{
     color: red;
} 

.itens {
    font-style: italic;
}